name: Build APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # ----------------------------
      # Install apktool (OFFICIAL WAY)
      # ----------------------------
      - name: Install apktool
        run: |
          wget https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool
          wget https://github.com/iBotPeaches/Apktool/releases/download/v2.10.0/apktool_2.10.0.jar
          chmod +x apktool
          sudo mv apktool /usr/local/bin/
          sudo mv apktool_2.10.0.jar /usr/local/bin/apktool.jar
          apktool --version

      # ----------------------------
      # Build APK
      # ----------------------------
      - name: Build APK
        run: |
          ls
          apktool b . -o rebuilt.apk

      # ----------------------------
      # Upload APK
      # ----------------------------
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: rebuilt-apk
          path: rebuilt.apk
