name: Build APK (unsigned)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install apktool
        run: |
          sudo apt update
          sudo apt install -y apktool

      - name: Verify apktool
        run: apktool --version

      - name: Build unsigned APK
        run: |
          apktool b . -o gk-unsigned.apk

      - name: Upload unsigned APK
        uses: actions/upload-artifact@v4
        with:
          name: gk-unsigned
          path: gk-unsigned.apk
